<ul class="list-group">
  <li class="list-group-item">Username: {{user.username}}</li>
  <li class="list-group-item">Firstname: {{user.firstname}}</li>
  <li class="list-group-item">Lastname: {{user.lastname}}</li>
  <li class="list-group-item">Occupation: {{user.occupation}}</li>
  <li class="list-group-item">Email: {{user.email}}</li>
  <li class="list-group-item">Phone No.: {{user.mobile}}</li>
  <li class="list-group-item">NIN: {{user.nin}}</li>
  <li class="list-group-item">DOB: {{user.dob}}</li>
</ul>
